body {
  background-color: rgb(198, 119, 220);

}
body section{
      height: 500px;
    width: 1300px;
    background-color: white;
    margin: 0 auto;
    margin-top: 46px;
    text-align: center;
    padding-top: 83px;
    border-radius: 19px;
}
.mainH{
    margin-top: 50px;
    font-family: sans-serif;
}
.firstH{
      font-family: sans-serif;
    font-weight: bold;
    color: #989898;
    letter-spacing: 3px;
}
.NewJbutton {
  width: 310px;
    height: 65px;
    margin: 0 auto;
    background-color: #9c27b0;
    border: none;
    font-size: 24px;
    border-radius: 14px;
    margin-top: 50px;
   box-shadow: 2px 2px 5px -2px rgb(126 123 123);
   font-family: sans-serif;
  
  
   
}
